/* Mobile Styles - Extra small devices (up to 600px) */
@media only screen and (max-width: 960px) {
  body {
    font-size: 16px;
  }
  /* Hide desktop nav */
  .nav-container {
    display: none;
  }

  .navbar-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
  }
  .navbar-brand img {
    margin-right: 10px;
  }

  .navbar-nav {
    text-align: center;
  }

  /* Header */
  .header-container {
    height: auto;
    top: 60px;
  }

  .header-title-container {
    width: 100%;
    top: 0;
    padding: 0 20px 90px;
  }

  .header-title {
    font-size: 60px;
  }

  .header-title-container>p {
    text-align: center;
    font-size: 24px;
  }

  #header-btn {
    display: none;
  }
  
  #header-btn-mobile {
    width: 85px;
    height: 42px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    color: #fff;
    background: linear-gradient(270deg, #ffc53d 14%, #ff9a3d 68.5%);
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    line-height: 42px;
    z-index: 10;
  }

  #header-btn-mobile:hover {
    text-decoration: none;
    border: 1px solid #ffc53d;
    color: #ffc53d;
    background: #fff;
  }

  /* Main container */
  main {
    top: 60px;
  }

  /* About me section */
  .about-me-container {
    width: 100%;
    box-shadow: none;
    padding: 30px 15px;
  }

  .about-me-title {
    left: 50%;
    transform: translateX(-50%);
  }

  .about-me-img-container {
    display: none;
  }

  .about-me-img-mobile {
    position: absolute;
    top: 65px;
    right: 35px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
  }

  .about-me {
    width: 100%;
    padding: 0;
  }

  .about-me-description {
    width: 100%;
    padding: 0;
    border: 0;
  }

  .about-me-description>p {
    text-align: justify;
    text-align-last: center;
  }

  /* Skills section */
  .skills-title {
    left: 50%;
    transform: translateX(-50%);
  }

  .skills-container {
    width: 100%;
    box-shadow: none;
    margin: 30px 0 0;
    padding: 30px 0 0;
  }

  .skills-ux-ui, .skills-front-end, .skills-back-end {
    width: 100%;
    padding: 0;
    border: 0;
    height: 250px;
    padding: 10px 0 10px;
  }

  .skills-back-end {
    padding: 10px 0 0;
  }

  .skills-front-end-img {
    height: auto;
  }

  .skills-ux-ui p:first-of-type, .skills-front-end p:first-of-type, .skills-back-end p:first-of-type {
    margin-bottom: 5px;
  }

  /* Portfolio section */
  .portfolio-project1, .portfolio-project2, .portfolio-project3, .portfolio-project4, .portfolio-project5 {
    width: 100%;
  }
  
  .portfolio-project1, .portfolio-project2, .portfolio-project3 {
    height: 346px;
  }

  .portfolio-project4, .portfolio-project5 {
    height: 354px;
  }

  .portfolio-project5 .portfolio-overlay-description {
    padding: 0;
  }

  /* Footer */
  footer {
    top: 60px;
  }
  .footer-container {
    width: 100%;
    height: auto;
    box-shadow: none;
    margin: 0;
  }

  .footer-title {
    left: 50%;
    transform: translateX(-50%);
    padding-top: 50px;
  }

  .footer-form-container {
    order: -1;
    width: 100%;
    position: relative;
    padding: 35px;
  }

  .footer-form {
    padding-bottom: 100px;;
  }

  .footer-contact {
    display: none;
  }

  .footer-contact-mobile {
    position: relative;
    width: 100%;
    height: 285px;
    color: #fff;
    background-color: #ff9a3d;
    padding: 10px;
    text-align: center;
  }
  
  /* Social media */
  .footer-social-media-mobile {
    text-align: center;
    margin-top: 45px;
  }
  
  .footer-social-media-mobile>li {
    display: inline;
    margin-right: 25px;
  }
  
  .footer-social-media-mobile>li:last-of-type {
    margin-right: 0;
  }
  
  .footer-social-media-mobile i {
    font-size: 30px;
    color: #fff
  }
  
  .footer-contact-mobile p {
    font-family: 'Ubuntu';
    line-height: 22px;
    letter-spacing: 0.02em;
  }
  
  .footer-contact-mobile p:nth-of-type(2) {
    font-weight: bold;
  }
  
  .footer-contact-mobile p:nth-of-type(3) {
    font-weight: bold;
  }
  
  .footer-contact-mobile .underline {
    text-decoration: underline;
  }

  /* Copyrights */
  .footer-copyrights {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
    top: 100px;
  }
}

/* Tablet Styles - Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 960px) {
  /* Navbar */
  .navbar-nav {
    text-align: center;
  }

  /* About me */
  .about-me {
    width: 50%;
  }

  .about-me-description {
    width: 50%;
  }

  .about-me-img-mobile {
    width: 90px;
    height: 90px;
    top: 265px;
    left: 25%;
    transform: translateX(-50%);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 960px) {
  /* Header */
  .header-title {
    font-size: 75px;
  }

  .header-title-container>p {
    font-size: 28px;
  }

  /* About me */
  .about-me-img-mobile {
    top: 65px;
    left: 270px;
  }

  /* Skills */
  .skills-ux-ui, 
  .skills-front-end {
    width: 50%;
  }

  /* Portfolio */
  .portfolio-project1, 
  .portfolio-project2, 
  .portfolio-project3, 
  .portfolio-project4 {
    width: 50%;
    height: 344px;
  }
}

/* Desktop Styles - Large devices (laptops/desktops, 961px and up) */
@media only screen and (min-width: 961px) {
  /* Navbar */
  .navbar-mobile {
    display: none;
  }

  .nav-logo {
    left: 40px;
  }

  .nav-title {
    left: 90px;
  }

  .navbar-desktop {
    width: 45%;
  }

  .header-title-container>p {
    text-align: center;
  }

  /* About me */
  .about-me-img-mobile {
    display: none;
  }

  /* Skills */
  .skills-title {
    left: 50%;
    transform: translateX(-50%);
  }

  /* Portfolio */
  .portfolio-container {
    height: 700px;
  }

  /* Footer */
  .footer-contact-mobile {
    display: none;
  }

  .footer-contact>.footer-description {
    margin-bottom: 85px;
  }

}